<!DOCTYPE html>
<html>

<head>
    <title></title>
    <include file="Public/meta" />
</head>

<body>
    <include file="Public/header" />
    <div class="layui-body zq-body">
        <div class="layui-card layadmin-header">
            <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                <a lay-href="">主页</a><span lay-separator="">/</span>
                <a>
                    <cite>域名注册账户列表</cite>
                </a>
            </div>
        </div>
        <div class="layui-fluid">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <xblock>
                            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                            <button class="layui-btn" onclick="window.open('__CONTROLLER__/zadd', 'right')"><i class="layui-icon"></i>添加</button>
                            <span style="line-height:40px;float: right;">共有数据：{$count} 条</span>
                        </xblock>
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                                    </th>
                                    <th>ID</th>
                                    <th>注册昵称</th>
                                    <th>域名注册地址</th>
                                    <th>登录名</th>
                                    <th>密码</th>
                                    <th>绑定手机号</th>
                                    <th>号码联系人</th>
                                    <th>添加时间</th>
                                    <th>修改时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <volist name="info" id="data">
                                    <tr>
                                        <td>
                                            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$data.zc_id}'><i class="layui-icon">&#xe605;</i></div>
                                        </td>
                                        <td>{$data.zc_id}</td>
                                        <td>{$data.zc_name}</td>
                                        <td>{$data.zc_site}</td>
                                        <td>{$data.zc_admin}</td>
                                        <td>{$data.zc_pwd}</td>
                                        <td>{$data.zc_tell}</td>
                                        <td>{$data.zc_tellname}</td>
                                        <td>{$data.zc_addtime|date="Y-m-d", ###}</td>
                                        <td>{$data.zc_lasttime|date="Y-m-d", ###}</td>
                                        <td>
                                            <a class="layui-btn layui-btn-xs" href="__CONTROLLER__/zedit/zc_id/{$data.zc_id}">编辑</a>
                                            <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="member_del(this,'{$data.zc_id}')" href="javascript:;">删除</a>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                        <p id="findnoresult">没有找到相关项！</p>
                        <div class="page">{$page}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="<?php echo PUBLIC_PATH; ?>/layui/layui.js?t=<?php echo time(); ?>" charset="utf-8"></script>
    <script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;
    });
    layui.use('form', function() {
        var form = layui.form;
    });

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function(index) {
            //发异步删除数据
            var url = "__CONTROLLER__/zdel";
            $.post(url, { id: id }, function(result) {
                if (result.status == 0) {
                    dialog.error(result.message);
                }
                if (result.status == 1) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', { icon: 1, time: 1000 });
                }
            }, 'JSON');
        });
    }
    /*用户-批量删除*/
    function delAll(argument) {
        var data = tableCheck.getData();
        if (data.length == 0) {
            layer.msg('你还为选择任何一项！');
            return false;
        }
        var str = data.join(",");
        layer.confirm('确认要删除吗？' + data, function(index) {
            //发异步删除数据
            var url = "__CONTROLLER__/zdel";
            $.post(url, { id: str }, function(result) {
                if (result.status == 0) {
                    dialog.error(result.message);
                }
                if (result.status == 1) {
                    //捉到所有被选中的，发异步进行删除
                    layer.msg('删除成功', { icon: 1 });
                    $(".layui-form-checked").not('.header').parents('tr').remove();
                }
            }, 'JSON');
        });
    }
    </script>
</body>

</html>